#container {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    user-select: none;
}

.box {
    background-color: black;
    width: 32%;
    height: 150px;;
    display: inline-block;
    color: white;
    margin: 3px;
    font-size: 400%;
}

.dark-mode {
    background-color: #2c2c2c;
}


button {
    height: 100px;
    width: 350px;
    margin-top: 50px;
    background-color: #9a1f1f;
    color: #d3d3d3;
    border-radius: 30%;
    margin-right: 50px;
    font-size: 120%;
}

#toggle {
    background-color: #383838;
    color: #959595;
}


